
.vaible{
    margin-left: 0%;
    animation: find__scale 2s linear 0s;
}
@keyframes find__scale{
    from{
         opacity: 0.3;
         scale: 0.8;

    }
    to{
     opacity: 1;
     scale: 1;
    }
}
.home__container{
   /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpJdfXceof3JQZyJMipqa3a8WC-Ue6XmLbTw&s"); */
   /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4PkV61TDgYawLEcOfVT5vQme2V6MOqJyOMQ&s"); */
   /* background-image: url("https://t3.ftcdn.net/jpg/06/23/47/80/360_F_623478090_U4mW5jeEUqfYerquLxiZDEfIMTQksgLF.jpg"); */
  /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20230519/pngtree-d-picture-of-3d-image-of-a-glow-chart-that-is-image_2653195.jpg"); */
  /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220102/pngtree-hard-work-increase-earnings-task-photo-image_20973528.jpg"); */
  /* background-image: url("https://png.pngtree.com/background/20230929/original/pngtree-marketshare-champion-illustration-leader-statistics-photo-picture-image_5269128.jpg"); */
  /* background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220919/pngtree-working-hard-dedication-isolated-management-photo-image_19855338.jpg"); */
  /* background-image: url("https://images.unsplash.com/photo-1468476775582-6bede20f356f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjA5fHxwb3J0Zm9saW8lMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww");  */
   min-height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(250,246,244,1) 0%, rgba(236,211,197,1) 7%, rgba(245,229,229,0.856162447889312) 46%, rgba(245,237,230,1) 100%, rgba(225,235,235,1) 100%, rgba(237,129,9,1) 100%);
}
.home__container>img{
 height: 97vh;
 width: 100%;
 position: absolute;
}
